[SYSTEM]
0
1
1
1
0
0
1
0

[SETUP]
"No modem selected"
0
0
0

[INSTALL]
?:
0

[VIDEO]
101h

[SOUND]
0
2
0h,0,0,0
1
0
1

[MUSIC]
0
0h
0h
0h

[DRIVERS]
joyport.drv,0

[NETWORK]
4af2h
0h
0h
0

[MODEM]
0h
0
atz
atd

[FINI]

